<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:title" content="{{ og.title }}" />
		<meta property="og:description" content="{{ og.description }}" />
		<meta property="og:image" content="{{ website.url }}/{{ og.image }}" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/styles/article.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Alice&family=Fredericka+the+Great&family=Kalam:wght@300;400;700&family=Borel&display=swap" rel="stylesheet">
		<link rel="icon" href="/assets/favicon.png" />
		<script>
		    // TODO: this needs to be factored out to a file

			const LOCATION_EMOJI_SVG = "data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-map-pin%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22%20/%3E%3Cpath%20d=%22M9%2011a3%203%200%201%200%206%200a3%203%200%200%200%20-6%200%22%20/%3E%3Cpath%20d=%22M17.657%2016.657l-4.243%204.243a2%202%200%200%201%20-2.827%200l-4.244%20-4.243a8%208%200%201%201%2011.314%200%22%20/%3E%3C/svg%3E"

            class LocationElement extends HTMLElement {
                static observedAttributes = ["href"];

                constructor() {
                    super();
                    this.attachShadow({mode: "open"});
                    this.render();
                }

                attributeChangedCallback(name, oldValue, newValue) {
                    if (name === "href") {
                        const link = this.shadowRoot.getElementById("map-link");
                        link.setAttribute("href", newValue);
                    }
                }

                render() {
                    this.shadowRoot.innerHTML = `
                        <style>
                            :host {
                                padding-inline: 2ch;

                                &::before {
                                    content: "";
                                    display: inline-block;
                                    width: 12px;
                                    height: 12px;

                                    background-image: url('${LOCATION_EMOJI_SVG}');
                                    background-size: contain;
                                }
                            }
                        </style>
                        <a id="map-link" href="#">
                            <slot></slot>
                        </a>
                    `
                }
            }

            customElements.define('map-location', LocationElement);
		</script>
	</head>

	<body>
		<div id="root">
			{% include "./components/header.njk" %}

			<div class="heading-container">
				<a href="{{ page.url }}">
					<h1 class="heading">{{ title }}</h1>
				</a>
			</div>

			<article class="article">{{ content | safe }}</article>

			{% include "./components/footer.njk" %}
		</div>
	</body>
</html>
