@import url("./base.css");

#root {
	max-width: 72ch;
	margin: 1em auto;
	padding-inline: 4ch;
}

.article-list {
	display: flex;
	flex-direction: column;
	gap: 4em;

	.article-excerpt {
	    display: flex;
		flex-direction: column;
		gap: 1em;

		.heading {
			font-family: var(--font-family-en-heading), serif;
			font-weight: 400;
			line-height: 2;

			color: var(--heading-text-color);
		}

		.article-section-text {
			display: flex;
			flex-direction: column;
			gap: 1.25em;
		}
	}
}

.list-of-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;

	a {
	    text-decoration: none;
		color: inherit;

		&:hover {
			color: #003153;
		}
	}

	.post-title {
        text-decoration: none;
	}

	.post-description {
        color: var(--subtitle-text-color);
        font-family: var(--font-family-en-body);
		text-decoration: none !important;
        font-size: 12px;
        transition: color 150ms;
	}

	li:hover {
	    .post-description {
			color: var(--content-text-color);
		}
	}
}

footer {
	i,
	em,
	a {
		font-family: var(--font-family-italics), cursive;
	}

	a {
		color: #668397;
		text-decoration: none;
		transition-duration: 150ms;

		&:hover {
			color: #003153;
		}
	}
}

.weeknotes-list {
	display: flex;
	flex-direction: column;
	gap: 16px;

	margin-block: 16px;

	li {
		list-style: none;
		transition-duration: 200ms;

		a {
			display: block;
			border-radius: 8px;
			padding: 8px;
			font-family: inherit;
			text-decoration: none;
			line-height: 1.5;
			perspective-origin: 5cm;
			transition-duration: 200ms;
		}

		&:hover {
			a {
				background-color: color-mix(in srgb, var(--content-text-color) 5%, var(--background-color));
				transform: scale(1.05);
			}
		}

		.weeknote-title {
			font-weight: bold;
		}

		.weeknote-description {
			font-size: 12px;
		}

		a {
			text-decoration: none;
		}
	}

	table {
		width: 100%;

		td {
			font-family: "Fredericka The Great", sans-serif;
			border: 1px solid var(--heading-text-color);
			font-size: 2em;
			font-weight: 200;
			color: color-mix(
				in hsl,
				var(--heading-text-color) 50%,
				transparent
			);
			padding: 0.5em;
		}
	}
}
