---
permalink: "/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>A Believable Fiction</title>
        <description>A Blog of Random things from across</description>
        <atom:link href="{{ feed.base }}/feed.xml" rel="self" type="application/rss+xml" />
        <link>{{ feed.base }}</link>
        <lastBuildDate>{{ now.rfc822 }}</lastBuildDate>
        <ttl>{{ feed.ttl }}</ttl>

        {% for weeknote in collections.weeknotes | reverse -%}
        <item>
            <title>{{ weeknote.data.title }}</title>
            <description>{{ weeknote.data.description }}</description>
            <link>{{ feed.base }}{{ weeknote.url }}</link>
            <guid>{{ feed.base }}{{ weeknote.url }}</guid>
            <pubDate>{{ weeknote.data.publishedISO }}</pubDate>
        </item>
        {% endfor %}

    </channel>
</rss>
