---
layout: base.njk
title: Home
---

<div id="root">
	<header class="heading-container">
		<a href="/">
			<h1 class="heading">A Believable Fiction</h1>
		</a>
	</header>

	<main class="article-list">
		<article class="article-excerpt">
			<header class="heading">
				<h2>About...</h2>
			</header>
			<section class="article-section-text">
				<p>Hello Reader,</p>
				<p>
					I started this blog, to write about random things, and
					discover more ways I could engage with the internet, back in
					<time datetime="2025-09-20T12:18:00+05:30">September 2025</time>, at a session of
					<a href="https://blr.indiewebclub.org">Indie Web Club, Bangalore</a>. This blog has evolved since
					then to be a social media,
					and a journal of sorts. Ergo this contains the results of
					several indieweb sessions, my own experiments, links to
					things I do, and hidden subgraphs of pages, and a rather convenient archive. It is largely a
					freeform digital repository of my thoughts, mixed with some styling to make it appealing to the
					onlooker.
				</p>
				<p>By and large, if anything, the blog is a perpetual work in progress, perhaps similar to digital
					gardens, but not quite it, definitely not a standard blog given how infrequently I write things.
					However definitely a space I own, am responsible for, and control. By most counts this blog is an
					internet version of home. I intend to keep it as such. Perhaps a bit mixed up, mismatched in places, but fun and original and most definitely signature and craft.
				</p>
			</section>
		</article>
		<article class="article-excerpt">
			<header class="heading">
				<h2>...Me</h2>
			</header>
			<section class="article-section-text">
				<p>
					I am a(n India based) software developer by profession, and a nerd by reputation by most counts from
					friends. Some of
					my hobbies include programming for fun and recreation, playing Dungeons and Dragons, exploring
					cities on
					foot, light reading of classics, light learning of languages, and a lot of other light things. On
					the heavier side lies my choice of Music as an avid metal fanatic, and on the deep end of my likes is my deep passion for history and lifelong learning.
				</p>
				<p>
					If you want to reach out with a cool project idea, discuss something, send me an email at: <a href="mailto:connect@abelievablefiction.net">connect@abelievablefiction.net</a>, and I shall respond.
				</p>
			</section>
		</article>
		<article class="article-excerpt">
			<header class="heading">
				<h2>Posts</h2>
			</header>
			<ul class="list-of-links">
				{% for post in collections.post %} {% if not post | isDraft %}
				<li>
					<a href="{{ post.url }}">{{ post.data.title }}</a>
				</li>
				{% endif %} {% endfor %}
			</ul>

			<p>You can also find the things I am working on on my <a href="/drafts">drafts</a> page</p>
		</article>

		<article class="article-excerpt">
			<header class="heading">
				<h2>Lists</h2>
			</header>
			<section class="article-section-text">
				Some collections of mundane, and less than mundane for glancing
				at later, or a record of what could've been something greater
			</section>
			<ul class="list-of-links">
				{% for list in collections.list %}
				<li>
					<a href="{{ list.url }}">{{ list.data.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</article>

		<article class="article-excerpt">
			<header class="heading">
				<h2>Weeknotes</h2>
			</header>
			<section class="article-section-text">
				<p>In some weeks more consistently than others, I have tried to record activities of mine in a weeknote. You can find these recorded weeknotes in a section below</p>
			</section>
			<ul class="list-of-links weeknotes-list">
				{% for weeknote in collections.weeknotes.reverse() %}
				<li>
					<a href="{{ weeknote.url }}">
					<p class="weeknote-link">
					{{ weeknote.data.title }}
					</p>
					<p class="weeknote-description">This weeknote covers the week(s) and events preceeding {{ weeknote.data.publishedISO | humanFriendlyDate }}. While the description for the weeknote only mentions <em>{{ weeknote.data.description }}</em>, I am sure there's more to the week than that.</p>
					</a>
				</li>
				{% endfor %}
			</ul>
		</article>
	</main>
</div>
